<!doctype html>
<html lang="en">
    <head>
        <!--table css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
        <!---general css-->
       <!--- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->           
       
        <!--table script-->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

        <script>
          $(document).ready(function () {
    $('#example').DataTable({
        paging: false,
        ordering: false,
        info: false,
    });
});
             </script>
    </head>
    <body>
        <h1>Bridge Inventory</h1>
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
            <tr>
        <th>State</th>
        <th>County</th>
        <th>Owner</th>
        <th>Service Type</th>
        <th>Year Built</th>
        <th>Facility Carried</th>
        <th>Location</th>
            </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.State }}</td>
            <td>{{ obj.County }}</td>
            <td>{{ obj.Owner }}</td>
            <td>{{ obj.Service_Type }}</td>
            <td>{{ obj.Year_Built }}</td>
            <td>{{ obj.Facility_Carried }}</td>
            <td>{{ obj.Location }}</td>
        </tr>
    
        {% endfor %}
    </tbody>
    </table>
    </body>
</html>